.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .logo {
    font-family: var(--font-titulo);
    background-color: var(--logo-bg);
    color: var(--cor-primaria);
    padding: 1rem 2rem;
    border-radius: 0 16px 0 16px;
    border: 1px solid var(--cor-primaria);

    .logo-span {
      font-family: var(--font-principal);
    }
  }
}
